:root {
  //Primary

  --clr-Primary: hsl(172, 67%, 45%);

  //Neutral

  --clr-neutral-900: hsl(183, 100%, 15%);
  --clr-neutral-850: hsl(173, 61%, 77%);
  --clr-neutral-800: hsl(186, 14%, 43%);
  --clr-neutral-700: hsl(184, 14%, 56%);
  --clr-neutral-600: hsl(185, 41%, 84%);
  --clr-neutral-500: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  //Font sizes

  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-800: 1.5rem;
  --fs-900: 2rem;
}
